.App {
  background-color: white;
  width: 470px;
}

.iconImg {
  border-radius: 50%;
  width: 40px; 
  margin: 10px;
  margin-left: 10px;
}

.username {
  font-weight: 600;
  flex-grow: 1;
}

.user {
  display: flex;
  align-items: center;
  margin: 5px;
  justify-content: space-between;
}

.picture {
  margin: 0px;
  width: 470px;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 450px;
  margin: 8px;
  margin-bottom: 5px;
}

.likepic {
  width: 28px;
  margin-right: 10px;
}

.commentpic {
  width: 28px;
  margin-left: 10px;
  margin-right: 10px;
}

.sharepic {
  width: 28px;
  margin-left: 10px;
  margin-right: 10px;
}

.savepic {
  width: 28px;
  height: 28px;
}

.likestext {
  margin: 0px;
  margin-left: 10px;
  font-size: 18px;
}

.caption {
  margin: 0px;
  margin-left: 10px;
  font-weight: 600;
}

span {
  font-weight:600;
}

.hashtags {
  color: rgb(64, 93, 230);
  font-weight: 400;
}

.addComm {
  display: flex;
  margin: 0px;
  margin-left: 10px;
  align-items: center;
}

.addc {
  color: rgb(156, 156, 156);
  margin: 10px;
  margin-left: 8px;
  font-size: 18px;
  font-weight: 400;
}

.smallpf {
  border-radius: 50%;
  width: 23px;
  height: 23px;
}

.viewComm {
  margin: 0px;
  margin-left: 10px;
  margin-top: 2px;
  color: rgb(156, 156, 156);
  font-size: 18px;
}

.timePosted {
  color: rgb(130, 130, 130);
  margin: 0px;
  margin-left: 10px;
}

.quote {
  font-weight: 400;
  font-size: 18px;
}